body {
	background: #EEEEEE;
}

h1 {
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 60px;
	padding: 10px;
	color: #5C5C5C;
	text-shadow: 2px 2px 4px #5C5C5C;
	margin-bottom: 10px;
}

.button {
	margin-bottom: 20px;
	width: 150px;
	height: 40px;
	font-size: 18px;
	font-family: helvetica;
	box-shadow: 2px 2px 8px #333333;
}

#button-wrapper {
	text-align: center;
}

#container-wrapper {
	margin: auto;
}

#container {
	margin: auto;
	width: 650px;
	clear: both;
}

.div1 {
    float: left;
}

.square-div {
	background: #D6D6D6;
    width: 50px;
    height: 50px;
    float: left;
}

#form-div-wrapper {
	text-align: center;
	padding: 5px 0 20px;
}

#row-input {
	width: 250px;
	height: 25px;
	box-shadow: 0px 0px 10px #4D94FF;
	font-size: 16px;
	font-weight: bold;
	margin-right: 30px;
}

.grid {
	outline: 1px solid black;
}

#grid-button {
	height: 32px;
	margin-bottom: 5px;
}