

#clear-button {
	margin-bottom: 20px;
	width: 70px;
	height: 40px;
	font-size: 18px;
	font-family: helvetica;
}

#container-wrapper {
	width: 650px;
	margin: auto;
}

.row {
	outline: 1px solid white;
    overflow: hidden;
    clear: both;
}

.square-div {
	background: rgb(0,0,0);
	opacity: 1;
    outline: 1px solid white;
    float: left;
}

/*
.background {
	background: rgba(0,0,0,0);
}

.background2 {
	background: rgba(0,0,0,1.0);
}
*/
